.mt-3.card
  .card-body
    %form.mb-3
      .input-group
        %input.form-control{placeholder: "Search", type: "text"}/
        .input-group-append
          %button.btn.btn-primary{type: "button"}
            %i.fa.fa-search
    %ul.list-menu
      %li
        %a{href: "#"} Electronics
      %li
        %a{href: "#"} Watches
      %li
        %a{href: "#"} Cinema
      %li
        %a{href: "#"} Clothes
      %li
        %a{href: "#"} Home items