.text-center.center-block
  %i#social-fb.fab.fa-facebook-square.fa-2x.social
  %i#social-tw.fab.fa-twitter-square.fa-2x.social
  %i#social-gp.fab.fa-google-plus-square.fa-2x.social
  %i#social-em.fa.fa-envelope-square.fa-2x.social