.container.py-3
  .row.mt-2
    .col-md-3.pb-4
      / product sidebar filters
      .row
        .col-md-12.col-6.mb-4
          .list-group.small.rounded-0
            .list-group-item.rounded-0.bg-light.text-uppercase.text-dark Categories
            %a#list1.list-group-item.list-group-item-action.active{"data-toggle" => "list", :href => "#list1"}
              Electronics
              %span.badge.badge-pill.badge-dark.float-right 12
            %a#list2.list-group-item.list-group-item-action{"data-toggle" => "list", :href => "#list2"}
              Books
              %span.badge.badge-pill.badge-light.float-right 1
            %a#list3.list-group-item.list-group-item-action{"data-toggle" => "list", :href => "#list3"}
              Clothes
              %span.badge.badge-pill.badge-primary.float-right 3
            %a#list4.list-group-item.list-group-item-action{"data-toggle" => "list", :href => "#list4"}
              Games
              %span.badge.badge-pill.badge-light.float-right 18
    .col-md-9
      / product list
      .row.mb-5
        .col-md-2.col-sm-3.col-12.text-center
          %a{:href => "#modalProduct"}
            %img.mx-auto.img-fluid{:alt => "product thumbnail", :src => "https://robohash.org/N1W.png"}/
        .col-12.d-block.d-sm-none
        .col-md-6.col-sm-7.col-6
          %h5.text-uppercase
            %a{"data-toggle" => "modal", :href => "#modalProduct"} Product Name
          %p.text-truncate.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate.
          %a.btn.btn-outline-secondary.mt-2{:href => "#modalProduct"} $45.00
        .col-md-4.col-sm-2.col-6.text-right.pl-0
          %h6.small.text-wide.text-truncate Category
          .float-right.text-nowrap
            %span.text-primary
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
      %hr/
      .row.mb-5
        .col-md-2.col-sm-3.col-12.text-center
          %a{:href => "#modalProduct"}
            %img.mx-auto.img-fluid{:alt => "product thumbnail", :src => "https://robohash.org/65W.png"}/
        .col-12.d-block.d-sm-none
        .col-md-6.col-sm-7.col-6
          %h5.text-uppercase
            %a{"data-toggle" => "modal", :href => "#modalProduct"} Some Product
          %p.text-truncate.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra vulputate.
          %a.btn.btn-outline-secondary.mt-2{:href => "#modalProduct"} $18.00
        .col-md-4.col-sm-2.col-6.text-right.pl-0
          %h6.small.text-wide.text-truncate Category
          .float-right.text-nowrap
            %span.text-primary
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
      %hr/
      .row.mb-5
        .col-md-2.col-sm-3.col-12.text-center
          %a{:href => "#modalProduct"}
            %img.mx-auto.img-fluid{:alt => "product thumbnail", :src => "https://robohash.org/B23.png"}/
        .col-12.d-block.d-sm-none
        .col-md-6.col-sm-7.col-6
          %h5.text-uppercase
            %a{"data-toggle" => "modal", :href => "#modalProduct"} This Product
          %p.text-truncate.mb-0 Consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate.
          %a.btn.btn-outline-secondary.mt-2{:href => "#modalProduct"} $11.00
        .col-md-4.col-sm-2.col-6.text-right.pl-0
          %h6.small.text-wide.text-truncate Category 2
          .float-right.text-nowrap
            %span.text-primary
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
      %hr/
      .row.mb-5
        .col-md-2.col-sm-3.col-12.text-center
          %a{:href => "#modalProduct"}
            %img.mx-auto.img-fluid{:alt => "product thumbnail", :src => "https://robohash.org/RT5.png"}/
        .col-12.d-block.d-sm-none
        .col-md-6.col-sm-7.col-6
          %h5.text-uppercase
            %a{:href => "#modalProduct"} Another Product
          %p.text-truncate.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate.
          %a.btn.btn-outline-secondary.mt-2{:href => "#modalProduct"} $41.00
        .col-md-4.col-sm-2.col-6.text-right.pl-0
          %h6.small.text-wide.text-truncate Category 1
          .float-right.text-nowrap
            %span.text-primary
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
      %hr/
      .row.mb-5
        .col-md-2.col-sm-3.col-12.text-center
          %a{:href => "#modalProduct"}
            %img.mx-auto.img-fluid{:alt => "product thumbnail", :src => "https://robohash.org/F4W.png"}/
        .col-12.d-block.d-sm-none
        .col-md-6.col-sm-7.col-6
          %h5.text-uppercase
            %a{"data-toggle" => "modal", :href => "#modalProduct"} A Product
          %p.text-truncate.mb-0 Lorem ipsum dolor sit amet, consectetur adipisci. Duis pharetra vulputate.
          %a.btn.btn-outline-secondary.mt-2{:href => "#modalProduct"} $27.00
        .col-md-4.col-sm-2.col-6.text-right.pl-0
          %h6.small.text-wide.text-truncate Category
          .float-right.text-nowrap
            %span.text-primary
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
      %hr/
      .row.mb-5
        .col-md-2.col-sm-3.col-12.text-center
          %a{:href => "#modalProduct"}
            %img.mx-auto.img-fluid{:alt => "product thumbnail", :src => "https://robohash.org/EDq.png"}/
        .col-12.d-block.d-sm-none
        .col-md-6.col-sm-7.col-6
          %h5.text-uppercase
            %a{"data-toggle" => "modal", :href => "#modalProduct"} Product Foo
          %p.text-truncate.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate.
          %a.btn.btn-outline-secondary.mt-2{:href => "#modalProduct"} $15.00
        .col-md-4.col-sm-2.col-6.text-right.pl-0
          %h6.small.text-wide.text-truncate Category
          .float-right.text-nowrap
            %span.text-primary
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
              %i.ion-ios-star.fa.fa-star
      .row
        #_.col-lg-6.mx-lg-auto.py-2
          %ul.pagination.justify-content-center
            %li.page-item.disabled
              %a.page-link.border-0{"aria-label" => "Previous", :href => "#"}
                %span{"aria-hidden" => "true"} ❮
                %span.sr-only Previous
            %li.page-item.active
              %a.page-link.border-0{:href => "#_"}
                1
                %span.sr-only (current)
            %li.page-item
              %a.page-link.border-0{:href => "#_"} 2
            %li.page-item
              %a.page-link.border-0{:href => "#_"} 3
            %li.page-item
              %a.page-link.border-0{:href => "#_"} 4
            %li.page-item
              %a.page-link.border-0{"aria-label" => "Next", :href => "#_"}
                %span{"aria-hidden" => "true"} ❯
                %span.sr-only Next

  = render "product_modal"