.container
  .row
    .col-md-8.border-right
      .row
        .col-md-12
          .section-title
            %h2 Most Read
        .col-md-12
          .post.post-row
            %a.post-img{href: "blog-post.html"}
              %img{alt: "", src: "https://colorlib.com/preview/theme/webmag/img/post-4.jpg"}/
            .post-body
              .post-meta
                %span.post-date March 27, 2018
              %h3.post-title
                %a{href: "blog-post.html"} Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
        .col-md-12
          .post.post-row
            %a.post-img{href: "blog-post.html"}
              %img{alt: "", src: "https://colorlib.com/preview/theme/webmag/img/post-6.jpg"}/
            .post-body
              .post-meta
                %span.post-date March 27, 2018
              %h3.post-title
                %a{href: "blog-post.html"} Why Node.js Is The Coolest Kid On The Backend Development Block!
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
        .col-md-12
          .post.post-row
            %a.post-img{href: "blog-post.html"}
              %img{alt: "", src: "https://colorlib.com/preview/theme/webmag/img/post-1.jpg"}/
            .post-body
              .post-meta
                %span.post-date March 27, 2018
              %h3.post-title
                %a{href: "blog-post.html"} CSS Float: A Tutorial
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
        .col-md-12
          .post.post-row
            %a.post-img{href: "blog-post.html"}
              %img{alt: "", src: "https://colorlib.com/preview/theme/webmag/img/post-2.jpg"}/
            .post-body
              .post-meta
                %span.post-date March 27, 2018
              %h3.post-title
                %a{href: "blog-post.html"} Ask HN: Does Anybody Still Use JQuery?
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
        .col-md-12
          .section-row
            %button.primary-button.center-block Load More
    .col-md-4
      .aside-widget.text-center
        %a{href: "#", style: "display: inline-block;margin: auto;"}
          %img.img-responsive{alt: "", height: "0", src: "./img/ad-1.jpg", style: "display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 0px 0px;", width: "0"}/
      .aside-widget
        .section-title
          %h2 Archive
        .category-widget
          %ul
            %li
              %a.cat-1{href: "#"}
                January 2020
                %span 340
            %li
              %a.cat-2{href: "#"}
                December 2020
                %span 74
            %li
              %a.cat-4{href: "#"}
                November 2020
                %span 41
            %li
              %a.cat-3{href: "#"}
                October 2020
                %span 35
