.container
  -@products.each_slice(3).each do |product_slice|
    .card-deck
      -product_slice.each do |product|
        .card.product
          %img.card-img-top.img-fluid{src: product.cover_image}
          .card-body
            .card-title= product.title
            %p.card-text.text-muted= product.description
          .card-footer
            = link_to("Buy Now", product.affiliate_link, class: "btn btn-sm btn-success", target: "_blank")
