.container-fluid
  %div.row
    .col-lg-9.col-md-12
      -@products.each.each do |product|
        %div
          .mt-3.card
            = render partial: "index_product", locals: { product: product }

      .text-center.mt-4
        = pagy_bootstrap_nav(@pagy).html_safe

    .col-lg-3.col-md-12
      = render partial: "product_aggregations"
