.container
  .card.border-0
    .row
      .col-md-5.col-sm-12.border-right
        .img
          =image_tag("https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5706/5706659_sd.jpg", class: "img")
      .col-md-7.col-sm-12
        .card-body.p-5
          %h3.title.mb-3 Apple - AirPods with Charging Case (Latest Model) - White
          %p
            %span.h3 US $1299
          %dl
            %dt Description
            %dd
              %p
                The new AirPods combine intelligent design with breakthrough technology and crystal-clear sound. Powered by the new Apple H1 headphone chip, AirPods now feature hands-free access to Siri using just your voice. And up to 3 hours of talk time on a single charge.¹

          %hr/
          %a.btn.btn-lg.btn-warning.text-uppercase{:href => "#"}
            %i.fab.fa-amazon
            Buy Now

    %hr
    .row
      %ul
        %li
          %strong Save lots of time
          — You can save lots of time and efforts using the Bootstrap predefined design templates and classes and concentrate on other development work.
        %li
          %strong Responsive features
          — Using Bootstrap you can easily create responsive websites that appear more appropriately on different devices and screen resolutions without any change in markup.
        %li
          %strong Consistent design
          — All Bootstrap components share the same design templates and styles through a central library, so the design and layout of your web pages will be consistent.
        %li
          %strong Easy to use
          — Bootstrap is very easy to use. Anybody with the basic working knowledge of HTML, CSS and JavaScript can start development with Bootstrap.
        %li
          %strong Compatible with browsers
          — Bootstrap is created with modern web browsers in mind and it is compatible with all modern browsers such as Chrome, Firefox, Safari, Internet Explorer, etc.
        %li
          %strong Open Source
          — And the best part is, it is completely free to download and use.
